.SettingsPage {
    margin: 4px 3px;
    
    

    text-align: center;
    padding: 10px 10px;
    /* width: calc(100%-10px);  */
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: gray 2px 2px 5px;
    
    padding-bottom: 20px;
}

.SettingsPage h4 {
    padding: 10px;
    margin: 0;
    font-size: 20px;
}

.SettingsPage h5 {
    padding: 10px;
    margin: 0;
    font-size: 18px;
}

.SettingsPage p {
    padding: 0px;
    margin: 15px;
    
}

.LoggedOut {
    text-align: center;
}

.SettingsPage form {
    /* text-align: center; */
    max-width: 300px;
    display: inline-block;
}

.FormTop {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 650px) {
    .FormTop{
        flex-flow: column;
    }
}
